
modify.env
test.txt
node_modules/tkinter/README.md
*.ts
*.json
*.json
*.js
node_modules/dotenv/README.md
node_modules/dotenv/LICENSE
*.json
node_modules/dotenv/CHANGELOG.md
node_modules/.package-lock.json
node_modules/.package-lock.json
